<div style="text-align: center;" class="detail_top">

        <!-- 头像 -->
        <div style="margin: 20px auto 0">
          <p class="">
            <img src="${detUser.headimg}" class="detail_img">
          </p>
        </div> 
        <!-- 用户名 -->
        <div>
          <h1>${detUser.username}</h1>
        </div> 
        <!-- 个人签名 -->
        <div>
          ${detUser.comment}
        </div>
        <div>
        <#if detUser.mutual == 1>
	        <span style="border: 1px solid #ccc;box-shadow: 1px 1px 1px #ccc;border-radius: 10%;padding: 3px;">
	              <i class="glyphicon glyphicon-ok" style="color: #FA7D3C"></i>
	              <a url="/op/unfollow/id/${detUser.uuid}.do" class="op">已关注</a>
	        </span>
        <#elseif detUser.mutual == 0>  
    		<span style="border: 1px solid #ccc;box-shadow: 1px 1px 1px #ccc;border-radius: 10%;padding: 3px;">
              <i class="glyphicon glyphicon-plus" style="color: #FA7D3C"></i>
              <a url="/op/follow/id/${detUser.uuid}.do" class="op">关注</a>
        	</span>
        <#else>
        	<input id="ifMyself" type="hidden" value="no"></input>
		</#if>  
        
        </div>
        <div style="height: 10px;"></div> 

      </div>
           <div class="col-md-4" style="padding: 0px;">
        <div class=""> 
          <table class="tb_counter" style="width: 100%;text-align: center; border: 1px solid #ccc;">
            <tr>
              <td>
                <a href="javascript:void(0);" style="font-weight: bold;">${detUser.follow}</a>
                <span class="block_">关注</span>
              </td>
              <td><a href="javascript:void(0);" style="font-weight: bold;">${detUser.follower}</a>
                <span class="block_">粉丝</span>
              </td>
              <td><a href="javascript:void(0);" style="font-weight: bold;">${detUser.weibo}</a>
                <span class="block_">微博</span>
              </td>
            </tr>
          </table>
        </div>

        <div class="detial_msg">
          
          <div style="padding: 20px;"><span style="width: 30px;display: inline-block;"></span>为了使页面显得饱满一些，我不得不在这里写上这样一段无关的文字。</div>
        </div>
        
      </div>
      
<script src="${ctx}/3rd/layer-v3.1.0/layer.js"></script>