<link href="${ctx}/css/index.css" rel="stylesheet" /> 
<div>
	<#list reqWeibo as weibo>
	  <div class='weibo-body' style='' id="1">
		<div class='inner'>
		<div class='head-img'>
		<img src='${weibo.userHeadimg}' alt='none' class='img-circle body-img'>
		</div>
		<div class='other'>
		<div class='_username'>
		${weibo.userNickname}
		</div>
		<div class='time'>
		${weibo.publishTime?string('yyyy-MM-dd HH:mm:ss')}
		</div>
		<div class='area'>
		${weibo.content}
		<br><br>
		</div>
		</div>
		<div class='menu'>
		<ul>
		<li> <a href='javascript:void(0)' class='four_a'><i class='fa fa-star-o'></i>收藏</a></li>
		<li> <a href='javascript:void(0)' class='four_a'><i class='fa fa-share'></i>转发</a></li>
		<li> <a href='javascript:void(0)' class='four_a'><i class='fa fa-commenting-o'></i> 回复</a></li>
		<li> <a href='javascript:void(0)' class='four_a'><i class='fa fa-thumbs-o-up' name='like'></i>点赞</a></li>
		</ul></div></div></div>
	</#list>
</div>
