<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <!--  fontawesome -->
    <link href="./font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" /> 

	<!-- jquery -->
	<script src="./3rd/jquery/jquery3.2.1.js"></script>

	<!-- bootstrap -->
	<link rel="stylesheet" href="./3rd/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css" >
	<link rel="stylesheet" href="./3rd/bootstrap-3.3.7-dist/css/bootstrap.min.css" >
	<script src="./3rd/bootstrap-3.3.7-dist/js/bootstrap.min.js" ></script>

	<link href="./css/index.css" rel="stylesheet" /> 
	<title>weibo</title>
	
</head>

<body>
    <!--  顶部导航栏 -->
	<div class="nav">
		<div class="nav-container">
			<!-- logo -->
			<div>
				<img src="img/logo.jpg" alt="none" class="img-circle" style="height: 38px;width: 38px; float: left;">
				<div style="float: left;font-size: 25px; font-weight:bold;font-style: italic;">weibo</div>
			</div>
			<!-- 搜索栏 -->
			<div class="nav-search" >
				<div><input type="text" class="" id="name" placeholder="请输入名称" style="padding-top: 5px; border: none; outline:none;"></div>
				<a href="" class="glyphicon glyphicon-search" style="margin-top: 5px; font-size: 18px; "></a>
			</div>
			<!-- 选项栏 -->
			<div class="nav-option">
			<ul>
				<li><i class="glyphicon glyphicon-home"></i>首页</li>
				<li><i class="glyphicon glyphicon-envelope">消息</i></li>
				<li><i class="glyphicon glyphicon-cog"></i>设置 </li>
				<li><i class="glyphicon glyphicon-cog"></i>发现 </li>
				<li><i class="glyphicon glyphicon-edit"></i>发微博</li>
			</ul>
				
			</div>
		</div>
	</div>
	<div class="body" style="height: 1000px;">
		


  </div>

</body>

</html>

