<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <!--  fontawesome -->
    <link href="${ctx}/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" /> 

	<!-- jquery -->
	<script src="${ctx}/3rd/jquery/jquery3.2.1.js"></script>

	<!-- bootstrap -->
	<link rel="stylesheet" href="${ctx}/3rd/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css" >
	<link rel="stylesheet" href="${ctx}/3rd/bootstrap-3.3.7-dist/css/bootstrap.min.css" >
	<script src="${ctx}/3rd/bootstrap-3.3.7-dist/js/bootstrap.min.js" ></script>

	<link href="${ctx}/css/index.css" rel="stylesheet" /> 
	<title>weibo</title>
	
</head>

<body>
    <!--  顶部导航栏 -->
	<div class="nav">
		<div class="nav-container">
			<!-- logo -->
			<div>
				<img src="${ctx}/img/logo.jpg" alt="none" class="img-circle" style="height: 38px;width: 38px; float: left;">
				<div style="float: left;font-size: 25px; font-weight:bold;font-style: italic;">weibo</div>
			</div>
			<!-- 搜索栏 -->
			<div class="nav-search" >
				<div><input type="text" class="" id="name" placeholder="请输入名称" style="padding-top: 5px; border: none; outline:none;"></div>
				<a href="" class="glyphicon glyphicon-search" style="margin-top: 5px; font-size: 18px; "></a>
			</div>
			<!-- 选项栏 -->
			<div class="nav-option">
			<ul>
				<li><i class="glyphicon glyphicon-home"></i>首页</li>
				<li><i class="glyphicon glyphicon-envelope">消息</i></li>
				<li><i class="glyphicon glyphicon-cog"></i>设置 </li>
				<li><i class="glyphicon glyphicon-cog"></i>发现 </li>
				<li><i class="glyphicon glyphicon-edit"></i>发微博</li>
			</ul>
				
			</div>
		</div>
	</div>
	<div class="body" style="height: 1000px;">
		<!-- 左侧边栏 -->
		<div class="side-nav">
			<div style="height: 10px;"></div>
			<div><h5><a href="" class="side-a">首页</a></h5></div>
			<div><h5><a href="" class="side-a">我的收藏</a></h5></div>

			<hr style="border:0;background-color:#87BADB;height:1px;">

			<div> <a href="" class="side-b"><i class="glyphicon glyphicon-heart"></i>&nbsp;&nbsp;好友圈</a> </div>
			<div> <a href="" class="side-b"><i class="glyphicon glyphicon-star-empty"></i>&nbsp;&nbsp;我的关注</a></div>

			<hr style="border:0;background-color:#87BADB;height:1px;">
		</div>
		<!-- 中间 -->
		<div class="mid-body">
            <!-- 发weibo区 -->
            <div class="reply">
                <div> <em class="spac3">发条weibo试试</em></div>
                <div>
                    <textarea name="" id="reply-content" style="height:100px;width:570px; margin: 9px; resize: none; border: 1px solid #FFC09F;"></textarea>
                </div>
                <div>
                    <button type="button" class="btn-reply">发布</button>
                </div>
            </div>

            <!-- weibo内容区 -->
            <div id="container">
            

 				<div class="weibo-body">
                    <div class="inner">
                        <div class="head-img">
                            <img src="${ctx}/img/logo.jpg" alt="none" class="img-circle body-img">
                        </div>
                        <div class="other" style="display: block; margin-left: 40px;">
                            <div class="_username">
                                name
                            </div>
                            <div class="time">
                                今天19：00
                            </div>
                            <div class="area">
                                这里是weibo内容区
                                <br><br><br><br><br>
                                1
                            </div>
                        </div>
                         <div class="menu">
                            <ul>
                                <li> <a href="" class="four_a"><i class="fa fa-star-o"></i><i class="fa fa-star"></i>收藏</a></li>
                                <li> <a href="" class="four_a"><i class="fa fa-share"></i>转发</a></li>
                                <li> <a href="" class="four_a"><i class="fa fa-commenting-o"></i> 回复</a></li>
                                <li> <a href="" class="four_a"><i class="fa fa-thumbs-o-up"></i><i class="fa fa-thumbs-up"></i>点赞</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--  回复区域 -->
                    
           			<div class='replyArea'>
           			
           				<!-- 回复区 -->
           				<div>
           					<!-- 头像 -->
           					<div style="float: left; margin-top: 10px;margin-left: 10px;">
           						<img src="${ctx}/img/logo.jpg" alt="none" class="img-circle reply-img">
           					</div>
           					<!-- input -->
           					<div style="">
           						<textarea name="" id="reply-content" style="height:40px;width:520px; margin: 9px; resize: none; border: 1px solid #FFC09F;"></textarea>

           					</div>
           					<div style="display: block; ">
           						<button type="button" class="btn-reply_2">评论</button>
           					</div>
           					
           				</div>
           				<div style="padding-left: 5%;padding-right: 5%;">
           					<hr style="text-align: center; border:0;background-color:#87BADB;height:1px;" >
           				</div>
           				<!-- 展示区域 -->
           				<div>
                   			<!-- head，预留区域 -->
           					<div></div>
           					<div>
           						<!-- 头像 -->
           						<div style="float: left;clear: both;display: block; margin-left: 10px;margin-top: 0px;">
           							<img src="./img/logo.jpg" alt="none" class="img-circle reply-img">
           							<div style="clear: both;"></div>
           						</div>
           						<!-- 评论内容 -->
           						<div style="height: 50px;">
			                        <a href="" class="username_a">
			                          maoxinhuan
			                        </a>
			                        <span>
			                          :今天天气很好。
			                        </span>
			                        <div style="font-size: 10px;color: #CC33FF;margin-left: 50px;">
			                          	今天 7:00
			                        </div>
           						</div>

           					</div>
           					<div>
           						<!-- 头像 -->
           						<div style="float: left;clear: both;display: block; margin-left: 10px;margin-top: 0px;">
           							<img src="./img/logo.jpg" alt="none" class="img-circle reply-img">
           							<div style="clear: both;"></div>
           						</div>
           						<!-- 评论内容 -->
           						<div style="height: 50px;">
	           						<a href="" class="username_a">
			                          maoxinhuan
			                        </a>
			                        <span>
			                          :今天dsads 天气很好。
			                        </span>
			                        <div style="font-size: 10px;color: #CC33FF;margin-left: 50px;">
			                         	 今天 7:00
			                        </div>
           						</div>
                     
           					</div>
           				</div>
           			</div>
                   
                </div>
                
         
            </div><!-- weibo内容区 container-->

            
            <div class="pagination">
            <li><a href='javascript:listWeibo(1)'>首页</a></li>
        	<!--  <div class="layui-box layui-laypage layui-laypage-default" id="layui-laypage-6">
        	  <a href="javascript:;" class="layui-laypage-prev layui-disabled" data-page="0">
        		<em>←</em>
        	  </a>
        		<span class="layui-laypage-curr">
        			<em class="layui-laypage-em"></em>
        			<em>1</em>
        		</span>
        		<a href="javascript:;" data-page="2">2</a>
        		<a href="javascript:;" data-page="3">3</a>
        		<a href="javascript:;" data-page="4">4</a>
        		<a href="javascript:;" data-page="5">5</a>
        		<span class="layui-laypage-spr">…</span>
        		<a href="javascript:;" class="layui-laypage-last" title="尾页" data-page="10">尾页</a>
        		<a href="javascript:;" class="layui-laypage-next" data-page="2">
        		<em>→</em></a>
        	</div> -->
        </div>
            
       	</div><!-- 中间 -->



		<!-- 右侧边栏 -->
        
        <div class="side-right">
            <div class="my-msg">
                <div class="my-img" style="text-align: center;">
                    <img src="${ctx}/img/logo.jpg" alt="none" class="img-circle" style="height: 40px;width: 40px;">
                </div>
                <div class="my-name" style="text-align: center;">
                	<input type="hidden" id="s-username" value="${user.username}">
                	<input type="hidden" id="s-comment" value="${user.comment}">
                	<input type="hidden" id="s-email" value="${user.email}">
                    <h5 style="font-weight: bold;" id="h5-nickname">${user.nickname}</h5>
                </div>
                <div class="my-fans">
                    <ul>
                        <li>
                            <a href="javascript:void(0);" style="font-weight: bold;">2</a>
                            <span style="display: block;">关注</span>
                        </li>
                        <li>
                            <a href="" style="font-weight: bold;">5</a>
                            <span style="display: block;">粉丝</span>
                        </li>
                        <li>
                            <a href="" style="font-weight: bold;">22</a>
                            <span style="display: block;">微博</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="random" style="border: 1px solid #ccc; height: 140px;margin-top: 10px;padding: 12px;">
                <!-- random<i class="fa fa-address-book"></i> -->
                <div style="text-align: center;font-weight: bold;font-size: 18px;">
                  <i class="fa fa-address-book"></i> 
                  联系我
                </div>
                <div>
                  <span style="font-weight: bold;font-size: 15px;">QQ：</span>984511321
                </div>
                <div>
                 <span style="font-weight: bold;font-size: 15px;">邮箱：</span>984511321@qq.com
                </div>
                <div>
                 <span style="font-weight: bold;font-size: 15px;">github：</span>https://github.com/miracle857
                </div>
            </div>
            <div class="about" style="border: 1px solid #ccc; margin-top: 10px;padding: 12px; display: inline-block;">
                <div style="text-align: center;font-weight: bold;font-size: 18px;">
                  <i class="fa fa-codepen"></i> 
                  项目简介
                </div>
                <div>
                  服务端采用Spring+SpringMVC+Mybatis等框架
                  将实现的功能
                  <ul>
                    <li>1.个人用户方面
                      <ul>
                        <li>
                          1)注册登录找回密码
                        </li>
                        <li>
                          2)修改个人信息，密码等
                        </li>
                      </ul>
                    </li>
                    <li>2.微博
                      <ul>
                        <li>
                          1)发微博
                        </li>
                        <li>
                          2)评论微博
                        </li>
                        <li>
                          3)删除微博（未完成）
                        </li>
                      </ul>
                    </li>
                    <li>3.好友
                      <ul>
                        <li>
                          1)关注
                        </li>
                        <li>
                          2)移除粉丝
                        </li>
                      </ul>
                    </li>
                    <li>4.其他
                      <ul>
                        <li>
                          1)实时微博消息推送（未完成）
                        </li>
                        <li>
                          2)实时聊天系统（未完成）
                        </li>
                      </ul>
                    </li>
                    <li></li>
                  </ul>
                </div>
            </div>
        </div>
	</div>
    <br>
     <br>
      <br>
       <br>

        <br>
         <br>
          <br>
           <br> <br>

            <br>
            >
      <br>
       <br>

        <br>
         <br>
          <br>
           <br> <br>

            <br>
</body>
<script src="${ctx}/js/utils/map.js"></script>
<script src="${ctx}/js/utils/utils-date.js"></script>
<script src="${ctx}/js/index.js"></script>
<script>
    var a = $(".side-nav").css("top");
    window.onscroll = function() {
        var x = parseInt(a)+window.pageYOffset;
        $(".side-nav").css("top",x+"px");
　　}
    $(".four_a").mouseover(function(){
         $(this).css("color","#FF3366");
    });
    $(".four_a").mouseout(function(){
         $(this).css("color","black");
    });
</script>
</html>

