<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <!--  fontawesome -->
    <link href="${ctx}/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" /> 

	<!-- jquery -->
	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>

	<!-- bootstrap -->
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<link href="${ctx}/css/index.css" rel="stylesheet" /> 
	<title>weibo</title>
	<#if user.nickname==null>
	<script>
		layer.prompt(function(val, index){
		  layer.close(index);
		});
	</script>
	</#if>
</head>

<body>
    <!--  顶部导航栏 -->
	<div class="nav">
		<div class="nav-container">
			<!-- logo -->
			<div>
				<img src="${ctx}/img/logo.jpg" alt="none" class="img-circle" style="height: 38px;width: 38px; float: left;">
				<div style="float: left;font-size: 25px; font-weight:bold;font-style: italic;">weibo</div>
			</div>
			<!-- 搜索栏 -->
			<div class="nav-search" >
				<div><input type="text" class="" id="name" placeholder="请输入名称" style="padding-top: 5px; border: none; outline:none;"></div>
				<a href="" class="glyphicon glyphicon-search" style="margin-top: 5px; font-size: 18px; "></a>
			</div>
			<!-- 选项栏 -->
			<div class="nav-option">
			<ul>
				<li><i class="glyphicon glyphicon-home"></i>首页</li>
				<li><i class="glyphicon glyphicon-envelope">消息</i></li>
				<li><i class="glyphicon glyphicon-cog"></i>设置 </li>
				<li><i class="glyphicon glyphicon-cog"></i>发现 </li>
				<li><i class="glyphicon glyphicon-edit"></i>发微博</li>
			</ul>
				
			</div>
		</div>
	</div>
	<div class="body" style="height: 1000px;">
		<!-- 左侧边栏 -->
		<div class="side-nav">
			<div style="height: 10px;"></div>
			<div><h5><a href="" class="side-a">首页</a></h5></div>
			<div><h5><a href="" class="side-a">我的收藏</a></h5></div>

			<hr style="border:0;background-color:#87BADB;height:1px;">

			<div> <a href="" class="side-b"><i class="glyphicon glyphicon-heart"></i>&nbsp;&nbsp;好友圈</a> </div>
			<div> <a href="" class="side-b"><i class="glyphicon glyphicon-star-empty"></i>&nbsp;&nbsp;我的关注</a></div>

			<hr style="border:0;background-color:#87BADB;height:1px;">
		</div>
		<!-- 中间 -->
		<div class="mid-body">
            <!-- 发weibo区 -->
            <div class="reply">
                <div> <em class="spac3">发条weibo试试</em></div>
                <div>
                    <textarea name="" id="reply-content" cols="80" rows="5" style="margin: 9px; resize: none; border: 1px solid #FFC09F;"></textarea>
                </div>
                <div>
                    <button type="button" class="btn-reply">发布</button>
                </div>
            </div>

            <!-- weibo内容区 -->
            <div id="container">
                <div class="weibo-body">
                    <div class="inner">
                        <div class="head-img">
                            <img src="${ctx}/img/logo.jpg" alt="none" class="img-circle body-img">
                        </div>
                        <div class="other" style="display: block; margin-left: 40px;">
                            <div class="_username">
                                name
                            </div>
                            <div class="time">
                                今天19：00
                            </div>
                            <div class="area">
                                这里是weibo内容区
                                <br><br><br><br><br>
                                1
                            </div>
                        </div>
                         <div class="menu">
                            <ul>
                                <li> <a href=""><i class="fa fa-star-o"></i><i class="fa fa-star"></i>收藏</a></li>
                                <li> <a href=""><i class="fa fa-share"></i>转发</a></li>
                                <li> <a href=""><i class="fa fa-commenting-o"></i> 回复</a></li>
                                <li> <a href=""><i class="fa fa-thumbs-o-up"></i><i class="fa fa-thumbs-up"></i>点赞</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- 底部菜单栏 -->
                   
                </div>
                
                <div class="weibo-body">
                    2
                </div>               
            </div>
       		</div>
		<!-- 右侧边栏 -->
        
        <div class="side-right">
            <div class="my-msg">
                <div class="my-img" style="text-align: center;">
                    <img src="${ctx}/img/logo.jpg" alt="none" class="img-circle" style="height: 40px;width: 40px;">
                </div>
                <div class="my-name" style="text-align: center;">
                    <h5 style="font-weight: bold;" id="h5-nickname">${user.nickname}</h5>
                </div>
                <div class="my-fans">
                    <ul>
                        <li>
                            <a href="javascript:void(0);" style="font-weight: bold;">2</a>
                            <span style="display: block;">关注</span>
                        </li>
                        <li>
                            <a href="" style="font-weight: bold;">5</a>
                            <span style="display: block;">粉丝</span>
                        </li>
                        <li>
                            <a href="" style="font-weight: bold;">22</a>
                            <span style="display: block;">微博</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="random">
                random<i class="fa fa-address-book"></i>
            </div>
        </div>
	</div>
    <br>
     <br>
      <br>
       <br>

        <br>
         <br>
          <br>
           <br> <br>

            <br>
            >
      <br>
       <br>

        <br>
         <br>
          <br>
           <br> <br>

            <br>
</body>
<script src="${ctx}/js/index.js"></script>
<script>
    var a = $(".side-nav").css("top");
    window.onscroll = function() {
        var x = parseInt(a)+window.pageYOffset;
        $(".side-nav").css("top",x+"px");
　　}
    $("a").mouseover(function(){
         $(this).css("color","#FF3366");
    });
    $("a").mouseout(function(){
         $(this).css("color","black");
    });
</script>
</html>