<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- jquery -->
  <script src="${ctx}/3rd/jquery/jquery3.2.1.js"></script>

  <!-- bootstrap -->
  <link rel="stylesheet" href="${ctx}/3rd/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css" >
  <link rel="stylesheet" href="${ctx}/3rd/bootstrap-3.3.7-dist/css/bootstrap.min.css" >

  <script src="${ctx}/3rd/bootstrap-3.3.7-dist/js/bootstrap.min.js" ></script>  

  <link href="${ctx}/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" /> 

  <link rel="stylesheet" href="${ctx}/3rd/layui/css/layui.css" >
  <script src="${ctx}/3rd/layui/layui.all.js" ></script>
  <link href="${ctx}/css/index.css" rel="stylesheet" />   <title>个人设置</title>
  <style>

  </style>
</head>
<body>
 	 <!--  顶部导航栏 -->
	<#include "/header/header.html">


  <div class="container" style="margin-top: 50px;width: 60%;border:1px solid #ccc;height: 500px;">
  	<div class="row">
  		<div class="col-md-2" style="border:1px solid #ccc;background-color: #F0F0F0;padding: 0;height: 500px;">
			<div style="padding:15px 8px 8px 15px;font-size: 10px;color: #ccc;font-weight: bold;">
				账号设置
			</div>

  			<div class="category" style="">
  				<div style="padding: 5px 0px 5px 15px;">
  					<i class="glyphicon glyphicon-user" style="color: #8F9094;"></i>
  					<a href="/set/info.do">我的信息</a>
  				</div>
  			</div>
  			<div class="category">
  				<div style="padding: 5px 0px 5px 15px;">
  					<i class="glyphicon glyphicon-camera" style="color: #8F9094;"></i>
  					<a href="/set/img.do">头像</a>
  				</div>
  			</div>
  		</div>

  		<style type="text/css">
  			.info_div{
  				padding: 10px;
  				border: 1px solid #ccc;
  				margin-top: 10px;
  			}
  			.info_fdxc{
  				width: 100px;
  				display: inline-block;
	          	width: 20%;
	  		}
	        .edit{
	          margin-left: 220px;
	        }
	        .editInput{
	          width: 30%;
	        }
	        .save-info{
	          float: right;
	          margin-right: 40px;
	          margin-top: 20px; 
	        }
	        .over{
				background-color: #C7BDBD;
			}
  		</style>
  		<div class="col-md-10">
  			<div style="padding: 20px 20px 0 0px;font-weight: bold;">信息</div>
        <form action="" id="info-form">
    			<div class="info_div">
    				<div class="info_fdxc">用户名</div><input type="" name="" class="editInput" value="${Session.user.username}"><span> <a href="" class="edit">编辑</a></span>
    			</div>
    			<div class="info_div">
    				<div class="info_fdxc">密码</div><input type="" name="" class="editInput" disabled="disabled"><span> <a href="" class="edit">编辑</a></span>
    			</div>
    			<div class="info_div">
    				<div class="info_fdxc">邮箱</div><input type="" name="" class="editInput" value="${Session.user.email}"><span> <a href="" class="edit">编辑</a></span>
    			</div>
    			<div class="info_div">
    				<div class="info_fdxc">昵称</div><input type="" name="" class="editInput" value="${Session.user.nickname}"><span> <a href="" class="edit">编辑</a></span>
    			</div>
    			<div class="info_div">
    				<div class="info_fdxc">个性签名</div><input type="" name="" class="editInput" value="${Session.user.comment}"><span> <a href="" class="edit">编辑</a></span>
    			</div>
        </form>
        <button class="btn btn-default save-info">保存</button>
  		</div>
  		<!-- <div class="col-md-10">
  			  			<hr>
  			<div style="font-weight: bold;font-size: 12px;">我的头像</div>
  			<img alt="" src="${Session.user.headimg!"666"}" style="height: 180px;width: 180px;padding-top: 10px;float: left;">
  			<form action="" id="file" enctype="multipart/form-data">
  				<input type="file" style="padding-left: 30px;margin-top: 100px;" name="file">
  			</form>
  			<button onclick="uploadPic()" class="button">上传</button>
  		</div> -->
  	</div>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script>
	$(".category").mouseover(function(){
	  $(this).addClass("over");
	});
	$(".category").mouseout(function(){
	  $(this).removeClass("over");
	});
	function saveInfo(set){
		$.ajax({
			url : "/save.do"
			type : 'post',
			data : $('#info-form').serialize(),
			dataType : 'json',
			success : function(data) {
				if (data.success) {
					layer.msg('保存成功！', {icon: 1});
				} else {
					layer.msg(data.message, {icon: 5});
				}
			},
			error : function(e) {
	
			}
		});
	}
</script>
</html>